// Copyright 2024 Universidad Politécnica de Madrid
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
//
//    * Redistributions of source code must retain the above copyright
//      notice, this list of conditions and the following disclaimer.
//
//    * Redistributions in binary form must reproduce the above copyright
//      notice, this list of conditions and the following disclaimer in the
//      documentation and/or other materials provided with the distribution.
//
//    * Neither the name of the Universidad Politécnica de Madrid nor the names of its
//      contributors may be used to endorse or promote products derived from
//      this software without specific prior written permission.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
// AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
// ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
// LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
// CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
// SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
// CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
// ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
// POSSIBILITY OF SUCH DAMAGE.

// This file was generated by mpc_acados_core.generate. Do not edit manually.

/**
 * @file acados_mpc_datatype.hpp
 *
 * Acados MPC data types definition.
 *
 * @author Rafael Perez-Segui <r.psegui@upm.es>
 */

#ifndef ACADOS_MPC_ACADOS_MPC_DATATYPE_HPP_
#define ACADOS_MPC_ACADOS_MPC_DATATYPE_HPP_

#include <{{ model_name }}_generated_code/acados_sim_solver_{{ model_name }}.h>
#include <{{ model_name }}_generated_code/acados_solver_{{ model_name }}.h>
#include <{{ model_name }}_generated_code/{{ model_name }}_model/{{ model_name }}_model.h>

#include <array>
#include <stdexcept>
#include <string>

namespace acados_mpc
{

/**
 * @brief State x
 */
struct State
{
  static constexpr size_t Nx = {{ model_name.upper() }}_NX;
  std::array<double, {{ model_name.upper() }}_NX> data;
  static const std::size_t size = {{ model_name.upper() }}_NX;
{%- for param in state_parameters %}
  static constexpr size_t {{ param.name }}_offset = {{ param.offset }};
  static constexpr size_t {{ param.name }}_length = {{ param.size }};
{%- endfor %}

  /**
   * @brief Constructor
   */
  State();

  /**
   * @brief Set the data at index
   *
   * @param index index.
   * @param value value.
   */
  void setData(const int index, const double value);

{%- for param in state_parameters %}
  /**
   * @brief {{ param.cpp_description }}
   *
   * @param value {{ param.name }} value.
   */
  void set{{ param.name | pascalCase }}({% if param.size == 1 %}const double value{% else %}const std::array<double, {{ param.name }}_length> & value{% endif %});

  /**
   * @brief {{ param.cpp_description }}
   *
   * @return {% if param.size == 1 %}double{% else %}std::array<double, {{ param.name }}_length>{% endif %} {{ param.name }} value.
   */
  {% if param.size == 1 %}double{% else %}std::array<double, {{ param.name }}_length>{% endif %} get{{ param.name | pascalCase }}() const;

{%- endfor %}
};

/**
 * @brief Actuation u
 */
struct Actuation
{
  static constexpr size_t Nu = {{ model_name.upper() }}_NU;
  std::array<double, {{ model_name.upper() }}_NU> data;
  static const std::size_t size = {{ model_name.upper() }}_NU;
{%- for param in actuation_parameters %}
  static constexpr size_t {{ param.name }}_offset = {{ param.offset }};
  static constexpr size_t {{ param.name }}_length = {{ param.size }};
{%- endfor %}

  /**
   * @brief Constructor
   */
  Actuation();

  /**
   * @brief Set the data at index
   *
   * @param index index.
   * @param value value.
   */
  void setData(const int index, const double value);

{%- for param in actuation_parameters %}
  /**
   * @brief {{ param.cpp_description }}
   *
   * @param value {{ param.name }} value.
   */
  void set{{ param.name | pascalCase }}({% if param.size == 1 %}const double value{% else %}const std::array<double, {{ param.name }}_length> & value{% endif %});

  /**
   * @brief {{ param.cpp_description }}
   *
   * @return {% if param.size == 1 %}double{% else %}std::array<double, {{ param.name }}_length>{% endif %} {{ param.name }} value.
   */
  {% if param.size == 1 %}double{% else %}std::array<double, {{ param.name }}_length>{% endif %} get{{ param.name | pascalCase }}() const;

{%- endfor %}
};

/**
 * @brief Reference yref
 */
struct Reference
{
  static constexpr size_t Nyref = {{ model_name.upper() }}_NY;
  std::array<double, {{ model_name.upper() }}_N * {{ model_name.upper() }}_NY> data;
  static const std::size_t size = {{ model_name.upper() }}_N * {{ model_name.upper() }}_NY;

  /**
   * @brief Constructor
   */
  Reference();

  /**
   * @brief Get the data at index
   *
   * @param index index of the stage.
   * @return double* data.
   */
  double * getData(const int index);

  /**
   * @brief Get the data at index
   *
   * @param index index of the stage.
   * @return const double* data.
   */
  const double * getData(const int index) const;

  /**
   * @brief Set the data at index
   *
   * @param index index of the stage.
   * @param state state.
   */
  void setData(const int index, const double value);

  /**
   * @brief Set the data at index of the stage and value
   *
   * @param ref_index index of the stage.
   * @param value_index index of the value.
   * @param state state.
   */
  void setData(const int ref_index, const int value_index, const double value);
};

struct ReferenceEnd
{
  std::array<double, {{ model_name.upper() }}_NYN> data;
  static const std::size_t size = {{ model_name.upper() }}_NYN;

  /**
   * @brief Constructor
   */
  ReferenceEnd();

  /**
   * @brief Get the data
   *
   * @return double* data.
   */
  double * getData();

  /**
   * @brief Get the data
   *
   * @return const double* data.
   */
  const double * getData() const;

  /**
   * @brief Set the data at index
   *
   * @param index index.
   * @param value value.
   */
  void setData(const int index, const double value);
};

/**
 * @brief Gains
 *
 * Gains Q, R and Qe for the MPC.
 */
struct Gains
{
  static constexpr size_t Nq = {{ model_name.upper() }}_NYN;
  static constexpr size_t Nqe = {{ model_name.upper() }}_NYN;
  static constexpr size_t Nr = ({{ model_name.upper() }}_NY - {{ model_name.upper() }}_NYN);
  std::array<double, {{ model_name.upper() }}_NY * {{ model_name.upper() }}_NY> W;
  std::array<double, {{ model_name.upper() }}_NYN * {{ model_name.upper() }}_NYN> We;

  /**
   * @brief Constructor
   */
  Gains();

  /**
   * @brief Get the W matrix
   *
   * @return double* W.
   */
  double * getW();

  /**
   * @brief Get the W matrix
   *
   * @return const double* W.
   */
  const double * getW() const;

  /**
   * @brief Get the We matrix
   *
   * @return double* We.
   */
  double * getWe();

  /**
   * @brief Get the We matrix
   *
   * @return const double* We.
   */
  const double * getWe() const;

  /**
   * @brief Get the Q matrix
   *
   * @return std::array<double, Gains::Nq> Copy of Q.
   */
  std::array<double, Gains::Nq> getQ() const;

  /**
   * @brief Get the Qe matrix
   *
   * @return std::array<double, Gains::Nqe> Copy of Qe.
   */
  std::array<double, Gains::Nqe> getQEnd() const;

  /**
   * @brief Get the R matrix
   *
   * @return std::array<double, Gains::Nr> Copy of R.
   */
  std::array<double, Gains::Nr> getR() const;

  /**
   * @brief Set the W matrix at index
   *
   * @param index index of the diagonal.
   * @param value value.
   */
  void setW(const int index, const double value);

  /**
   * @brief Set the We matrix at index
   *
   * @param index index of the diagonal.
   * @param value value.
   */
  void setWe(const int index, const double value);

  /**
   * @brief Set the Q, Qe and R matrix
   *
   * @param index index of the diagonal.
   * @param value value.
   */
  void setGains(const Gains & gains);

  /**
   * @brief Set the Q matrix at index
   *
   * @param index index of the diagonal.
   * @param value value.
   */
  void setQ(const int index, const double value);

  /**
   * @brief Set the Q matrix
   *
   * @param Q std::array<double, Gains::Nq> Q.
   */
  void setQ(const std::array<double, Gains::Nq> & Q);

  /**
   * @brief Set the R matrix at index
   *
   * @param index index of the diagonal.
   * @param value value.
   */
  void setR(const int index, const double value);

  /**
   * @brief Set the R matrix
   *
   * @param R std::array<double, Gains::Nr> R.
   */
  void setR(const std::array<double, Gains::Nr> & R);

  /**
   * @brief Set the Qe matrix at index
   *
   * @param index index of the diagonal.
   * @param value value.
   */
  void setQEnd(const int index, const double value);

  /**
   * @brief Set the Qe matrix
   *
   * @param Qe std::array<double, Gains::Nqe> Qe.
   */
  void setQEnd(const std::array<double, Gains::Nqe> & Qe);
};

/**
 * @brief ActuationBounds
 *
 * ActuationBounds lbu and ubu for the MPC.
 */
struct ActuationBounds
{
  static constexpr size_t Nu = {{ model_name.upper() }}_NU;
  std::array<double, {{ model_name.upper() }}_NU> lbu;
  std::array<double, {{ model_name.upper() }}_NU> ubu;

  /**
   * @brief Constructor
   */
  ActuationBounds();

  /**
   * @brief Get the lbu array
   *
   * @return double* lbu.
   */
  double * getLbu();

  /**
   * @brief Get the lbu array
   *
   * @return const double* lbu.
   */
  const double * getLbu() const;

  /**
   * @brief Get the lbu array
   *
   * @return std::array<double, {{ model_name.upper() }}_NU> lbu.
   */
  std::array<double, {{ model_name.upper() }}_NU> getLbuArray() const;

  /**
   * @brief Get the ubu array
   *
   * @return double* ubu.
   */
  double * getUbu();

  /**
   * @brief Get the ubu array
   *
   * @return const double* ubu.
   */
  const double * getUbu() const;

  /**
   * @brief Get the ubu array
   *
   * @return std::array<double, {{ model_name.upper() }}_NU> ubu.
   */
  std::array<double, {{ model_name.upper() }}_NU> getUbuArray() const;

  /**
   * @brief Set the bounds
   *
   * @param bounds bounds.
   */
  void setBounds(const ActuationBounds & bounds);

  /**
   * @brief Set the lbu
   *
   * @param lbu lbu.
   */
  void setLbu(const std::array<double, {{ model_name.upper() }}_NU> & lbu);

  /**
   * @brief Set the lbu at index
   *
   * @param index index.
   * @param value value.
   */
  void setLbu(const int index, const double value);

  /**
   * @brief Set the ubu
   *
   * @param ubu ubu.
   */
  void setUbu(const std::array<double, {{ model_name.upper() }}_NU> & ubu);

  /**
   * @brief Set the ubu at index
   *
   * @param index index.
   * @param value value.
   */
  void setUbu(const int index, const double value);
};

/**
 * @brief StateBounds
 *
 * StateBounds lbx and ubx for the MPC.
 */
struct StateBounds
{
  static constexpr size_t Nx = {{ model_name.upper() }}_NBX;
  std::array<double, {{ model_name.upper() }}_NBX> lbx;
  std::array<double, {{ model_name.upper() }}_NBX> ubx;

  /**
   * @brief Constructor
   */
  StateBounds();

  /**
   * @brief Get the lbx array
   *
   * @return double* lbx.
   */
  double * getLbx();

  /**
   * @brief Get the lbx array
   *
   * @return const double* lbx.
   */
  const double * getLbx() const;

  /**
   * @brief Get the lbx array
   *
   * @return std::array<double, {{ model_name.upper() }}_NBX> lbx.
   */
  std::array<double, {{ model_name.upper() }}_NBX> getLbxArray() const;

  /**
   * @brief Get the ubx array
   *
   * @return double* ubx.
   */
  double * getUbx();

  /**
   * @brief Get the ubx array
   *
   * @return const double* ubx.
   */
  const double * getUbx() const;

  /**
   * @brief Get the ubx array
   *
   * @return std::array<double, {{ model_name.upper() }}_NBX> ubx.
   */
  std::array<double, {{ model_name.upper() }}_NBX> getUbxArray() const;

  /**
   * @brief Set the bounds
   *
   * @param bounds bounds.
   */
  void setBounds(const StateBounds & bounds);

  /**
   * @brief Set the lbx
   *
   * @param lbx lbx.
   */
  void setLbx(const std::array<double, {{ model_name.upper() }}_NBX> & lbx);

  /**
   * @brief Set the lbx at index
   *
   * @param index index.
   * @param value value.
   */
  void setLbx(const int index, const double value);

  /**
   * @brief Set the ubx
   *
   * @param ubx ubx.
   */
  void setUbx(const std::array<double, {{ model_name.upper() }}_NBX> & ubx);

  /**
   * @brief Set the ubx at index
   *
   * @param index index.
   * @param value value.
   */
  void setUbx(const int index, const double value);
};

/**
 * @brief Parameters
 *
 * Online parameters p for one MPC stage.
 */
struct Parameters
{
  static constexpr size_t Np = {{ model_name.upper() }}_NP;
  std::array<double, {{ model_name.upper() }}_NP> data;
  static const std::size_t size = {{ model_name.upper() }}_NP;
{%- for param in online_parameters %}
  static constexpr size_t {{ param.name }}_offset = {{ param.offset }};
  static constexpr size_t {{ param.name }}_length = {{ param.size }};
{%- endfor %}

  /**
   * @brief Constructor
   */
  Parameters();

  /**
   * @brief Get the data
   *
   * @return double* data.
   */
  double * getData();

  /**
   * @brief Get the data
   *
   * @return const double* data.
   */
  const double * getData() const;

  /**
   * @brief Get the stage parameters
   *
   * @return std::array<double, {{ model_name.upper() }}_NP> Copy of the stage parameters.
   */
  std::array<double, {{ model_name.upper() }}_NP> getParameters() const;

  /**
   * @brief Copy parameters from another stage parameter object.
   *
   * @param params parameters to copy.
   */
  void setParameters(const Parameters & params);

  /**
   * @brief Set the data at index
   *
   * @param index index.
   * @param value value.
   */
  void setData(const int index, const double value);

{%- for param in online_parameters %}
  /**
   * @brief {{ param.cpp_description }}
   *
   * @param value {{ param.name }} value.
   */
  void set{{ param.name | pascalCase }}({% if param.size == 1 %}const double value{% else %}const std::array<double, {{ param.name }}_length> & value{% endif %});

  /**
   * @brief {{ param.cpp_description }}
   *
   * @return {% if param.size == 1 %}double{% else %}std::array<double, {{ param.name }}_length>{% endif %} {{ param.name }} value.
   */
  {% if param.size == 1 %}double{% else %}std::array<double, {{ param.name }}_length>{% endif %} get{{ param.name | pascalCase }}() const;

{%- endfor %}
};

/**
 * @brief OnlineParameters
 *
 * Online parameters p for all MPC stages.
 */
struct OnlineParameters
{
  using StageParameters = Parameters;
  static constexpr size_t Np = {{ model_name.upper() }}_NP;
  static constexpr size_t Nstages = {{ model_name.upper() }}_N + static_cast<size_t>(1);
  std::array<double, Nstages * {{ model_name.upper() }}_NP> data;
  static const std::size_t size = Nstages * {{ model_name.upper() }}_NP;
{%- for param in online_parameters %}
  static constexpr size_t {{ param.name }}_offset = Parameters::{{ param.name }}_offset;
  static constexpr size_t {{ param.name }}_length = Parameters::{{ param.name }}_length;
{%- endfor %}

  /**
   * @brief Constructor
   */
  OnlineParameters();

  /**
   * @brief Get the flattened data
   *
   * @return double* data.
   */
  double * getData();

  /**
   * @brief Get the flattened data
   *
   * @return const double* data.
   */
  const double * getData() const;

  /**
   * @brief Get the data of one stage
   *
   * @param stage stage index.
   * @return double* data.
   */
  double * getData(const int stage);

  /**
   * @brief Get the data of one stage
   *
   * @param stage stage index.
   * @return const double* data.
   */
  const double * getData(const int stage) const;

  /**
   * @brief Get the parameters of one stage
   *
   * @param stage stage index.
   * @return StageParameters Copy of the stage parameters.
   */
  StageParameters getParameters(const int stage = 0) const;

  /**
   * @brief Get all online parameters flattened by stage
   *
   * @return std::array<double, Nstages * {{ model_name.upper() }}_NP> Copy of online parameters.
   */
  std::array<double, Nstages * {{ model_name.upper() }}_NP> getOnlineParameters() const;

  /**
   * @brief Copy all online parameters.
   *
   * @param params online parameters to copy.
   */
  void setParameters(const OnlineParameters & params);

  /**
   * @brief Set the parameters of one stage or all stages.
   *
   * @param params stage parameters.
   * @param stage stage index, or -1 to apply to all stages.
   */
  void setParameters(const StageParameters & params, const int stage = -1);

  /**
   * @brief Set flattened data at index
   *
   * @param index index.
   * @param value value.
   */
  void setData(const int index, const double value);

  /**
   * @brief Set the data at stage index and parameter index.
   *
   * @param stage stage index.
   * @param index parameter index within the stage.
   * @param value value.
   */
  void setData(const int stage, const int index, const double value);

{%- for param in online_parameters %}
  /**
   * @brief {{ param.cpp_description }}
   *
   * @param value {{ param.name }} value.
   * @param stage stage index, or -1 to apply to all stages.
   */
  void set{{ param.name | pascalCase }}({% if param.size == 1 %}const double value{% else %}const std::array<double, {{ param.name }}_length> & value{% endif %}, const int stage = -1);

  /**
   * @brief {{ param.cpp_description }}
   *
   * @param stage stage index.
   * @return {% if param.size == 1 %}double{% else %}std::array<double, {{ param.name }}_length>{% endif %} {{ param.name }} value.
   */
  {% if param.size == 1 %}double{% else %}std::array<double, {{ param.name }}_length>{% endif %} get{{ param.name | pascalCase }}(const int stage = 0) const;

{%- endfor %}
};

/**
 * @brief SoftStateBounds
 *
 * Soft state bounds lsbx and usbx for the MPC.
 */
struct SoftStateBounds
{
  static constexpr size_t Nsbx = {{ model_name.upper() }}_NSBX;
  std::array<double, {{ model_name.upper() }}_NSBX> lsbx;
  std::array<double, {{ model_name.upper() }}_NSBX> usbx;

  /**
   * @brief Constructor
   */
  SoftStateBounds();

  /**
   * @brief Get the lsbx array
   *
   * @return double* lsbx.
   */
  double * getLsbx();

  /**
   * @brief Get the lsbx array
   *
   * @return const double* lsbx.
   */
  const double * getLsbx() const;

  /**
   * @brief Get the lsbx array
   *
   * @return std::array<double, {{ model_name.upper() }}_NSBX> lsbx.
   */
  std::array<double, {{ model_name.upper() }}_NSBX> getLsbxArray() const;

  /**
   * @brief Get the usbx array
   *
   * @return double* usbx.
   */
  double * getUsbx();

  /**
   * @brief Get the usbx array
   *
   * @return const double* usbx.
   */
  const double * getUsbx() const;

  /**
   * @brief Get the usbx array
   *
   * @return std::array<double, {{ model_name.upper() }}_NSBX> usbx.
   */
  std::array<double, {{ model_name.upper() }}_NSBX> getUsbxArray() const;

  /**
   * @brief Set the bounds
   *
   * @param bounds bounds.
   */
  void setBounds(const SoftStateBounds & bounds);

  /**
   * @brief Set the lsbx
   *
   * @param lsbx lsbx.
   */
  void setLsbx(const std::array<double, {{ model_name.upper() }}_NSBX> & lsbx);

  /**
   * @brief Set the lsbx at index
   *
   * @param index index.
   * @param value value.
   */
  void setLsbx(const int index, const double value);

  /**
   * @brief Set the usbx
   *
   * @param usbx usbx.
   */
  void setUsbx(const std::array<double, {{ model_name.upper() }}_NSBX> & usbx);

  /**
   * @brief Set the usbx at index
   *
   * @param index index.
   * @param value value.
   */
  void setUsbx(const int index, const double value);
};

/**
 * @brief SlackWeights
 *
 * Slack weights Zl, Zu, zl, zu for the MPC soft constraints.
 */
struct SlackWeights
{
  static constexpr size_t Ns = {{ model_name.upper() }}_NS;
  std::array<double, {{ model_name.upper() }}_NS> Zl;  // Diagonal Hessian weights for lower slack variables
  std::array<double, {{ model_name.upper() }}_NS> Zu;  // Diagonal Hessian weights for upper slack variables
  std::array<double, {{ model_name.upper() }}_NS> zl;  // Linear weights for lower slack variables
  std::array<double, {{ model_name.upper() }}_NS> zu;  // Linear weights for upper slack variables

  /**
   * @brief Constructor
   */
  SlackWeights();

  /**
   * @brief Get the Zl array
   *
   * @return double* Zl.
   */
  double * getZl();

  /**
   * @brief Get the Zl array
   *
   * @return const double* Zl.
   */
  const double * getZl() const;

  /**
   * @brief Get the Zl array
   *
   * @return std::array<double, {{ model_name.upper() }}_NS> Zl.
   */
  std::array<double, {{ model_name.upper() }}_NS> getZlArray() const;

  /**
   * @brief Get the Zu array
   *
   * @return double* Zu.
   */
  double * getZu();

  /**
   * @brief Get the Zu array
   *
   * @return const double* Zu.
   */
  const double * getZu() const;

  /**
   * @brief Get the Zu array
   *
   * @return std::array<double, {{ model_name.upper() }}_NS> Zu.
   */
  std::array<double, {{ model_name.upper() }}_NS> getZuArray() const;

  /**
   * @brief Get the zl array
   *
   * @return double* zl.
   */
  double * getzl();

  /**
   * @brief Get the zl array
   *
   * @return const double* zl.
   */
  const double * getzl() const;

  /**
   * @brief Get the zl array
   *
   * @return std::array<double, {{ model_name.upper() }}_NS> zl.
   */
  std::array<double, {{ model_name.upper() }}_NS> getzlArray() const;

  /**
   * @brief Get the zu array
   *
   * @return double* zu.
   */
  double * getzu();

  /**
   * @brief Get the zu array
   *
   * @return const double* zu.
   */
  const double * getzu() const;

  /**
   * @brief Get the zu array
   *
   * @return std::array<double, {{ model_name.upper() }}_NS> zu.
   */
  std::array<double, {{ model_name.upper() }}_NS> getzuArray() const;

  /**
   * @brief Set the weights
   *
   * @param weights weights.
   */
  void setWeights(const SlackWeights & weights);

  /**
   * @brief Set the Zl
   *
   * @param Zl Zl.
   */
  void setZl(const std::array<double, {{ model_name.upper() }}_NS> & Zl);

  /**
   * @brief Set the Zl at index
   *
   * @param index index.
   * @param value value.
   */
  void setZl(const int index, const double value);

  /**
   * @brief Set the Zu
   *
   * @param Zu Zu.
   */
  void setZu(const std::array<double, {{ model_name.upper() }}_NS> & Zu);

  /**
   * @brief Set the Zu at index
   *
   * @param index index.
   * @param value value.
   */
  void setZu(const int index, const double value);

  /**
   * @brief Set the zl
   *
   * @param zl zl.
   */
  void setzl(const std::array<double, {{ model_name.upper() }}_NS> & zl);

  /**
   * @brief Set the zl at index
   *
   * @param index index.
   * @param value value.
   */
  void setzl(const int index, const double value);

  /**
   * @brief Set the zu
   *
   * @param zu zu.
   */
  void setzu(const std::array<double, {{ model_name.upper() }}_NS> & zu);

  /**
   * @brief Set the zu at index
   *
   * @param index index.
   * @param value value.
   */
  void setzu(const int index, const double value);
};

/**
 * @brief SlackWeightsEnd
 *
 * Slack weights Zl_e, Zu_e, zl_e, zu_e for the terminal MPC soft constraints.
 */
struct SlackWeightsEnd
{
  static constexpr size_t Ns_e = {{ model_name.upper() }}_NS;
  std::array<double, {{ model_name.upper() }}_NS> Zl_e;  // Diagonal Hessian weights for lower slack variables
  std::array<double, {{ model_name.upper() }}_NS> Zu_e;  // Diagonal Hessian weights for upper slack variables
  std::array<double, {{ model_name.upper() }}_NS> zl_e;  // Linear weights for lower slack variables
  std::array<double, {{ model_name.upper() }}_NS> zu_e;  // Linear weights for upper slack variables

  /**
   * @brief Constructor
   */
  SlackWeightsEnd();

  /**
   * @brief Get the Zl_e array
   *
   * @return double* Zl_e.
   */
  double * getZlE();

  /**
   * @brief Get the Zl_e array
   *
   * @return const double* Zl_e.
   */
  const double * getZlE() const;

  /**
   * @brief Get the Zl_e array
   *
   * @return std::array<double, {{ model_name.upper() }}_NS> Zl_e.
   */
  std::array<double, {{ model_name.upper() }}_NS> getZlEArray() const;

  /**
   * @brief Get the Zu_e array
   *
   * @return double* Zu_e.
   */
  double * getZuE();

  /**
   * @brief Get the Zu_e array
   *
   * @return const double* Zu_e.
   */
  const double * getZuE() const;

  /**
   * @brief Get the Zu_e array
   *
   * @return std::array<double, {{ model_name.upper() }}_NS> Zu_e.
   */
  std::array<double, {{ model_name.upper() }}_NS> getZuEArray() const;

  /**
   * @brief Get the zl_e array
   *
   * @return double* zl_e.
   */
  double * getzlE();

  /**
   * @brief Get the zl_e array
   *
   * @return const double* zl_e.
   */
  const double * getzlE() const;

  /**
   * @brief Get the zl_e array
   *
   * @return std::array<double, {{ model_name.upper() }}_NS> zl_e.
   */
  std::array<double, {{ model_name.upper() }}_NS> getzlEArray() const;

  /**
   * @brief Get the zu_e array
   *
   * @return double* zu_e.
   */
  double * getzuE();

  /**
   * @brief Get the zu_e array
   *
   * @return const double* zu_e.
   */
  const double * getzuE() const;

  /**
   * @brief Get the zu_e array
   *
   * @return std::array<double, {{ model_name.upper() }}_NS> zu_e.
   */
  std::array<double, {{ model_name.upper() }}_NS> getzuEArray() const;

  /**
   * @brief Set the weights
   *
   * @param weights weights.
   */
  void setWeights(const SlackWeightsEnd & weights);

  /**
   * @brief Set the Zl_e
   *
   * @param Zl_e Zl_e.
   */
  void setZlE(const std::array<double, {{ model_name.upper() }}_NS> & Zl_e);

  /**
   * @brief Set the Zl_e at index
   *
   * @param index index.
   * @param value value.
   */
  void setZlE(const int index, const double value);

  /**
   * @brief Set the Zu_e
   *
   * @param Zu_e Zu_e.
   */
  void setZuE(const std::array<double, {{ model_name.upper() }}_NS> & Zu_e);

  /**
   * @brief Set the Zu_e at index
   *
   * @param index index.
   * @param value value.
   */
  void setZuE(const int index, const double value);

  /**
   * @brief Set the zl_e
   *
   * @param zl_e zl_e.
   */
  void setzlE(const std::array<double, {{ model_name.upper() }}_NS> & zl_e);

  /**
   * @brief Set the zl_e at index
   *
   * @param index index.
   * @param value value.
   */
  void setzlE(const int index, const double value);

  /**
   * @brief Set the zu_e
   *
   * @param zu_e zu_e.
   */
  void setzuE(const std::array<double, {{ model_name.upper() }}_NS> & zu_e);

  /**
   * @brief Set the zu_e at index
   *
   * @param index index.
   * @param value value.
   */
  void setzuE(const int index, const double value);
};

/**
 * @brief NonlinearConstraintBounds
 *
 * Lower and upper bounds lh and uh for nonlinear constraints h(x,u) at intermediate
 * shooting nodes (1 to N-1) and at the terminal node (N).
 */
struct NonlinearConstraintBounds
{
  static constexpr size_t Nh = {{ model_name.upper() }}_NH;
  std::array<double, {{ model_name.upper() }}_NH> lh;
  std::array<double, {{ model_name.upper() }}_NH> uh;

  /**
   * @brief Constructor
   */
  NonlinearConstraintBounds();

  /**
   * @brief Get the lh array
   *
   * @return double* lh.
   */
  double * getLh();

  /**
   * @brief Get the lh array
   *
   * @return const double* lh.
   */
  const double * getLh() const;

  /**
   * @brief Get the lh array
   *
   * @return std::array<double, {{ model_name.upper() }}_NH> lh.
   */
  std::array<double, {{ model_name.upper() }}_NH> getLhArray() const;

  /**
   * @brief Get the uh array
   *
   * @return double* uh.
   */
  double * getUh();

  /**
   * @brief Get the uh array
   *
   * @return const double* uh.
   */
  const double * getUh() const;

  /**
   * @brief Get the uh array
   *
   * @return std::array<double, {{ model_name.upper() }}_NH> uh.
   */
  std::array<double, {{ model_name.upper() }}_NH> getUhArray() const;

  /**
   * @brief Set the bounds
   *
   * @param bounds bounds.
   */
  void setBounds(const NonlinearConstraintBounds & bounds);

  /**
   * @brief Set the lh
   *
   * @param lh lh.
   */
  void setLh(const std::array<double, {{ model_name.upper() }}_NH> & lh);

  /**
   * @brief Set the lh at index
   *
   * @param index index.
   * @param value value.
   */
  void setLh(const int index, const double value);

  /**
   * @brief Set the uh
   *
   * @param uh uh.
   */
  void setUh(const std::array<double, {{ model_name.upper() }}_NH> & uh);

  /**
   * @brief Set the uh at index
   *
   * @param index index.
   * @param value value.
   */
  void setUh(const int index, const double value);
};

/**
 * @brief SoftNonlinearConstraintBounds
 *
 * Lower and upper bounds lsh and ush for soft nonlinear constraints at
 * intermediate shooting nodes (1 to N-1) and at the terminal node (N).
 */
struct SoftNonlinearConstraintBounds
{
  static constexpr size_t Nsh = {{ model_name.upper() }}_NSH;
  std::array<double, {{ model_name.upper() }}_NSH> lsh;
  std::array<double, {{ model_name.upper() }}_NSH> ush;

  /**
   * @brief Constructor
   */
  SoftNonlinearConstraintBounds();

  /**
   * @brief Get the lsh array
   *
   * @return double* lsh.
   */
  double * getLsh();

  /**
   * @brief Get the lsh array
   *
   * @return const double* lsh.
   */
  const double * getLsh() const;

  /**
   * @brief Get the lsh array
   *
   * @return std::array<double, {{ model_name.upper() }}_NSH> lsh.
   */
  std::array<double, {{ model_name.upper() }}_NSH> getLshArray() const;

  /**
   * @brief Get the ush array
   *
   * @return double* ush.
   */
  double * getUsh();

  /**
   * @brief Get the ush array
   *
   * @return const double* ush.
   */
  const double * getUsh() const;

  /**
   * @brief Get the ush array
   *
   * @return std::array<double, {{ model_name.upper() }}_NSH> ush.
   */
  std::array<double, {{ model_name.upper() }}_NSH> getUshArray() const;

  /**
   * @brief Set the bounds
   *
   * @param bounds bounds.
   */
  void setBounds(const SoftNonlinearConstraintBounds & bounds);

  /**
   * @brief Set the lsh
   *
   * @param lsh lsh.
   */
  void setLsh(const std::array<double, {{ model_name.upper() }}_NSH> & lsh);

  /**
   * @brief Set the lsh at index
   *
   * @param index index.
   * @param value value.
   */
  void setLsh(const int index, const double value);

  /**
   * @brief Set the ush
   *
   * @param ush ush.
   */
  void setUsh(const std::array<double, {{ model_name.upper() }}_NSH> & ush);

  /**
   * @brief Set the ush at index
   *
   * @param index index.
   * @param value value.
   */
  void setUsh(const int index, const double value);
};

}  // namespace acados_mpc

#endif  // ACADOS_MPC_ACADOS_MPC_DATATYPE_HPP_
